:root{
    --color-primary: #05292E;
    --color-secondary: #062226;
    --details-green: #2ca50c;
    --white: #e4e6eb;
    --nav-green: #9fc643;
    --search-yellow: #d2da4c;
    --search-bgn-hover: #124146;
    --blue: #13acc9;
    --gray: gray;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--white);
    font-family: 'Monserrat', sans-serif;
}

*,
*::before, 
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1{
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 0.1rem var(--details-green);
    margin: 0 2rem;
}

/***************************************** SEPARATOR DESCRIPTIONS **********************************/

.separator{
    color: var(--details-green);
    font-weight: 900;
    font-size: 2rem;
}


/********************************** INPUT | COMPONENT: FILTER INPUT********************************************/

.header-img{
    background-image: url(../public/img/RickAndMortyHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 35rem;
}

.main-nav{
    background-color: var(--nav-green);
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.rick-and-morty-logo{
    width: 18rem;
    position: absolute;
    left: 3rem;
}

.search-input{
    background-color: var(--search-yellow);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    border: none;
    margin: 1rem;
    width: 60%;
    color: var(--gray);
}

/********************************** CONTAINER | COMPONENT: LOCATION ********************************************/

#info-container{
    width: 80%;
    margin: auto;
    list-style: none;
}

/********************************** BAR SEARCH| COMPONENT: LOCATION SEARCH ********************************************/

.info-search-container{
    background-color: var(--color-secondary);
    position: absolute;
    list-style: none;
    top: 41rem;
    right: 25.9rem;
    width: 59%;
    text-align: start;
    line-height: 3rem;
    max-height: 20rem;
    overflow-y: auto;
    color: var(--blue);
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    text-shadow: 0px 0px 2.4px var(--search-yellow);
    z-index: 100;
}

.search-location{
    padding: 1rem 2rem;
    cursor: pointer;
}

.search-location:hover{
    background-color: var(--search-bgn-hover);
    color: var(--search-yellow);
    text-shadow: 0px 0px 3px #13acc9;
}

/********************************** LOCATION INFORMATION  | COMPONENT: LOCATION ********************************************/

.description-location-container{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    background: var(--color-secondary);
    border-radius: 0.5rem;
    margin: 2rem auto;
}

.slime-location{
    width: 13%;
    position: absolute;
    right: 12rem;
    top: 43rem;
}

.description-location{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 2rem;
}

.font-description{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--gray);
}

.font-description-location{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--white);
}

/********************************** RICK AND MORTY PORTAL IF RESIDENTS = 0 | COMPONENT: LOCATION ********************************************/

.rick-portal-container{
    display: flex;
    justify-content: center;
}

.rick-portal{
    width: 50%;
}

/********************************** RESIDENTS CONTAINER | COMPONENT: LOCATION ********************************************/

.residents-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

/********************************** RESIDENTS CONTAINER | COMPONENT: RESIDENTS INFO ********************************************/

.resident-item{
    width: 50%;
    padding: 1rem;
}

.resident-card{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    height: 20rem;
    width: 50rem;
    line-height: 3rem;
    display: flex;
}

.img-resident{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    width: 20rem;
}

.resident-desciption-container{
   padding: 0 1rem; 
   font-size: 1.8rem; 
   color: var(--white);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.resident-name{
    font-size: 2rem;
    padding: 1rem;
    border-bottom: solid 0.1rem var(--details-green);
}

.status{
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1rem;
    text-transform: uppercase;
}

.resident-descriptions{
    padding: 0 1rem 1rem 1rem;
    text-transform: capitalize;
}

.resident-description{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--gray);
}

/********************************** PAGINATION NUMBERS| COMPONENT: PAGINATION ********************************************/

.page-number-container{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 3rem;
    gap: 5%;
}

.page-number-container a{
    text-decoration: none;
    color: var(--white);
}

.page-number{
    background-color: var(--details-green);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.page-number:hover{
    background-color:var(--nav-green);
}

/********************************** FOOTER | COMPONENT: FOOTER ********************************************/

footer{
    height: 50rem;
    background-color: var(--color-secondary);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.footer-png{
    background-image: url(../public/img/Slime.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-png span{
    color: var(--details-green);
    font-size: 5rem;
}

.footer-png P{
    color: var(--details-green);
    padding: 2rem;
}




