:root{
    --color-primary: #05292E;
    --color-secondary: #062226;
    --details-green: #2ca50c;
    --white: #e4e6eb;
    --nav-green: #9fc643;
    --search-yellow: #d2da4c;
    --search-bgn-hover: #124146;
    --blue: #13acc9;
    --gray: gray;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--white);
    font-family: 'Monserrat', sans-serif;
}

*,
*::before, 
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1{
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 0.1rem var(--details-green);
    margin: 0 2rem;
}

/***************************************** LOADING SCREENS ******************************************/

.loading-screen{
    background-color: #050404;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-resident-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-resident{
    width: 40%;
}

/********************************** INPUT | COMPONENT: FILTER INPUT********************************************/

.img-header-content{
    height: 60vh;
    width: 100%;
}

.img-header-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
}

.main-nav{
    background-color: var(--nav-green);
    width: 100%;
    height: 5vw;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rick-and-morty-logo{
    width: 15vw;
    position: absolute;
    left: 3vw;
    top: 0;
}

.search-container{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-input{
    background-color: var(--search-yellow);
    border-radius: 0.5rem;
    font-size: 1.2vw;
    padding: 0 2rem 0 2rem;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--gray);
}

/********************************** CONTAINER | COMPONENT: LOCATION ********************************************/

#info-container{
    width: 80vw;
    margin: 0 auto;
    list-style: none;
}

/********************************** BAR SEARCH | COMPONENT: LOCATION SEARCH ********************************************/

.info-search-container{
    background-color: var(--color-secondary);
    position: absolute;
    list-style: none;
    top: 3.5vw;
    left: 0.5vw;
    width: 98%;
    text-align: start;
    line-height: 2vw;
    max-height: 19rem;
    overflow-y: auto;
    color: var(--blue);
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    text-shadow: 0px 0px 2.4px var(--search-yellow);
    z-index: 100;
}

.search-location{
    padding: 1rem 2rem;
    cursor: pointer;
}

.search-location:hover{
    background-color: var(--search-bgn-hover);
    color: var(--search-yellow);
    text-shadow: 0px 0px 3px #13acc9;
}

/********************************** LOCATION INFORMATION  | COMPONENT: LOCATION ********************************************/

.description-location-container{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    background: var(--color-secondary);
    border-radius: 0.5rem;
    margin: 2rem auto;
    width: 100%;
    position: relative;
}

.slime-location{
    width: 13vw;
    position: absolute;
    right: -0.5vw;
    top: -1vw;
}

.description-location{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 2rem;
}

.font-description{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--gray);
    border-right: 0.2rem solid var(--details-green);
    padding-right: 0.5rem;
    margin-right: 1rem;
}

.font-description-location{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--white);
}

/********************************** RICK AND MORTY PORTAL IF RESIDENTS = 0 | COMPONENT: LOCATION ********************************************/

.rick-portal-container{
    display: flex;
    justify-content: center;
}

.rick-portal{
    width: 50%;
}

/********************************** RESIDENTS CONTAINER | COMPONENT: LOCATION ********************************************/

.residents-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

/********************************** RESIDENTS CONTAINER | COMPONENT: RESIDENTS INFO ********************************************/

.resident-item{
    width: 50%;
    padding: 1rem;
}

.resident-card{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    height: 20rem;
    width: 100%;
    line-height: 3rem;
    display: flex;
}

.item-a{
    display: flex;
    flex-direction: column; 
    width: 40%; 
    height: 100%;
}


.img-resident{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}

.item-b{
    width: 60%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    text-transform: capitalize;
}

.resident-name{
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem var(--details-green);
}

.status{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.resident-description{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--gray);
    padding-right: 0.5rem;
    margin-right: 1rem;
    border-right: solid 0.2rem var(--details-green);
}

/********************************** PAGINATION NUMBERS| COMPONENT: PAGINATION ********************************************/

.page-number-container{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 3rem;
    gap: 5%;
}

.page-number-container a{
    text-decoration: none;
    color: var(--white);
}

.page-number{
    background-color: var(--details-green);
    width: 3.7vw;
    height: 3.7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.page-number:hover{
    background-color:var(--nav-green);
}

.selected{
    background-color:var(--search-yellow);
    color: var(--color-primary);
}

.selected:hover{
    background-color:var(--search-yellow);
}

/********************************** FOOTER | COMPONENT: FOOTER ********************************************/

footer{
    height: 50rem;
    background-color: var(--color-secondary);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.footer-png{
    background-image: url(../public/img/Slime.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-png span{
    color: var(--details-green);
    font-size: 5rem;
}

.footer-png P{
    color: var(--details-green);
    padding: 2rem;
}

@media (max-width: 480px) {

    h1{
        font-size: 2rem;
        padding: 1rem;
    }

    h2{
        font-size: 1.6rem;
    }

    .img-header-content{
        height: 40vh;
    }

    .main-nav{
        height: 14vw;
    }
    
    .rick-and-morty-logo{
        width: 18vw;
        position: absolute;
        left: 0.5vh;
        top: 2vh;
    }

    .search-input{
        font-size: 5vw;
    }

    .resident-item{
        width: 100%;
    }

    .info-container{
        width: 95%;
    }

    .resident-card{
        width: 100%;
        border: 0.1rem solid var(--details-green);
    }

    .item-b{
        padding: 1rem 1rem;
    }

    .img-resident{
        width: 100%;
        height: 60%;
        object-fit: cover;
        border: 0.1rem solid var(--details-green);
    }

    .resident-name{
        display: none;
    }

    .resident-name-content{
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%; 
        height: 40%;
        text-align: center;
        border: 0.1rem solid var(--details-green);
    }

    .resident-name-mobile{
        font-size: 1.6rem;
        border-bottom: none;
        padding: 0;
    }

    .status{
        font-size: 2rem;
    }

    .resident-description{
        font-size: 1rem;
    }

    .slime-location{
        width: 20vw;
    }

    .info-search-container{
        top: 10vw;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .font-description{
        display: flex;
        flex-direction: column;
    }

    .font-description{
        border-right: none;
        border-bottom: 0.1rem solid var(--details-green);
        padding-right: 0;
        margin-right: 0;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .font-description-location{
        font-size: 1.6rem;
    }


    .description-location{
        justify-content: space-between;
    }

    .page-number{
        width: 8vw;
        height: 8vw;
    }

    .footer-png{
        background-size: 100%;
    }
}

@media (min-width: 481px) and (max-width: 912px) {
    .resident-item{
        width: 100%;
    }

    .resident-name-mobile{
        display: none;
    }
}

@media (min-width: 1024px){

    .resident-name-content{
        display: none;
    }
}

